# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
.pytest_cache/

# Node
node_modules/
dist/
build/
.env

# Project specific
checkpoints/
data/
dataset/
dataset_labeled/

# OS generated
.DS_Store
Thumbs.db
